<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Willkommen zu <%= title %></p>
<!-- Name hier -->
<p>Hallo, <%= name %>!</p>
<p><a href="/alt">Gehe zur alt Seite</a></p>
<p><a href="/blog/newpost">Erstelle einen neuen Blog post</a></p>
</body>
</html>